body{
    margin: 0;
    padding: 0;
    background-image: url(../src/assets/images/bg-intro-desktop.png);
    background-color:  var(--primary-color) ;
}
.App {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
@media screen and (min-width:900px){
    .App {
      flex-direction: row;
    }
}