.container {
    width: 400px;
    text-align: center;
    position: relative;
    left: 350px;
    top: 200px;
}
.container button {
    margin-top: 30px;
}
@media screen and (max-width:800px) {
    .container {
        text-align: center;
        position: relative;
        left: 150px;
        top: 200px;
    }
}