.bnInfo {
    color: white;
    max-width: 400px;
    margin: 0 auto;
    font-family: 'Overpass', sans-serif;
    margin: 20px;
    text-align: center;
}
.bnInfo h2 {
    font-size: 36px;
    font-weight: 700;
}
.bnInfo p {
    line-height: 2;
}
@media screen and (min-width:900px) {
    .bnInfo{
        text-align: left;
    }
}